<div class="corp-content-container">
<section id="overview-section-one">
<div class="container-fluid background clearfix">
<div class="col-lg-8 col-md-8 col-sm-10 col-xs-12 col-centered">
<div id="user-quotes-carousel" class="carousel slide" data-ride="carousel">
<div class="carousel-inner">
<div class="item active">
<h3>Mission Statement</h3>
<p>Our mission is to delight and inspire anyone using the English language by being the most innovative and comprehensive digital source for everything related to words. We provide resources that help people accurately define, pronounce, and apply words in the moment.</p>
</div>
<div class="item">
<h3>Bringing Words to Life</h3>
<p>Dictionary.com, an IAC (NASDAQ; IACI) company, is the world’s leading, definitive digital resource for everything word related. We provide over 70 million global monthly users with reliable access to millions of definitions, synonyms, audio pronunciations, example sentences, translations and spellings through our services at Dictionary.com, Thesaurus.com and Reference.com. Our leading mobile applications for reference and education have been downloaded more than 90 million times.</p>
</div>
<div class="item">
<h3>The Company</h3>
<p>Dictionary.com was launched in 1995, under the name of Lexico Publishing, LLC, and was acquired by IAC in 2008. Currently located in Oakland, CA, it is the most visited, most trusted digital dictionary.</p>
</div>
</div>
<ol class="carousel-indicators">
<li data-target="#user-quotes-carousel" data-slide-to="0" class="active"></li>
<li data-target="#user-quotes-carousel" data-slide-to="1"></li>
<li data-target="#user-quotes-carousel" data-slide-to="2"></li>
</ol>
</div>
</div>
</div>

  
<h1>Pages#about</h1>
<p>Find me in app/views/pages/about.html.erb</p>
